.about {
    display: grid;
    place-items: center;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact {
    color: black;
}

.about-text {
    margin-top: -5% !important;
}